interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.osf.io/v2/files/R6gcp/
  response:
    body:
      string: '{"data":{"id":"r6gcp","type":"files","attributes":{"guid":"r6gcp","checkout":null,"name":"all_atb_files.tsv","kind":"file","path":"/66e2b226c0480bb8861d9a3c","size":540612,"provider":"osfstorage","materialized_path":"/all_atb_files.tsv","last_touched":null,"date_modified":"2026-02-26T12:54:31.867027","date_created":"2024-09-12T09:19:34.099468Z","extra":{"hashes":{"md5":"1b329313f751759bc888721ad4156bec","sha256":"b36aa796435185a8ea606e63ed5031f40b6e327853e3ef4aab8d07802fd26d3f"},"downloads":531},"tags":[],"current_user_can_comment":false,"current_version":7,"show_as_unviewed":false},"relationships":{"parent_folder":{"links":{"related":{"href":"https://api.osf.io/v2/files/6661b0b6c128ad0da95a554d/","meta":{}}},"data":{"id":"6661b0b6c128ad0da95a554d","type":"files"}},"versions":{"links":{"related":{"href":"https://api.osf.io/v2/files/66e2b226c0480bb8861d9a3c/versions/","meta":{}}}},"comments":{"links":{"related":{"href":"https://api.osf.io/v2/nodes/xv7q9/comments/?filter%5Btarget%5D=r6gcp","meta":{}}}},"node":{"links":{"related":{"href":"https://api.osf.io/v2/nodes/xv7q9/","meta":{}}},"data":{"id":"xv7q9","type":"nodes"}},"target":{"links":{"related":{"href":"https://api.osf.io/v2/nodes/xv7q9/","meta":{"type":"nodes"}}},"data":{"type":"nodes","id":"xv7q9"}},"cedar_metadata_records":{"links":{"related":{"href":"https://api.osf.io/v2/files/66e2b226c0480bb8861d9a3c/cedar_metadata_records/","meta":{}}}}},"links":{"info":"https://api.osf.io/v2/files/66e2b226c0480bb8861d9a3c/","move":"https://files.de-1.osf.io/v1/resources/xv7q9/providers/osfstorage/66e2b226c0480bb8861d9a3c","upload":"https://files.de-1.osf.io/v1/resources/xv7q9/providers/osfstorage/66e2b226c0480bb8861d9a3c","delete":"https://files.de-1.osf.io/v1/resources/xv7q9/providers/osfstorage/66e2b226c0480bb8861d9a3c","download":"https://osf.io/download/r6gcp/","render":"https://mfr.de-1.osf.io/render?url=https%3A%2F%2Fosf.io%2Fdownload%2Fr6gcp%2F%3Fdirect%26mode%3Drender","html":"https://osf.io/xv7q9/files/osfstorage/66e2b226c0480bb8861d9a3c","self":"https://api.osf.io/v2/files/R6gcp/","iri":"https://osf.io/r6gcp"}},"meta":{"version":"2.0"}}'
    headers:
      Allow:
      - GET, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://osf.io/download/r6gcp/
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - <https://osf.io/metadata/r6gcp/?format=linkset> ; rel="linkset" ; type="application/linkset",
        <https://osf.io/metadata/r6gcp/?format=linkset-json"> ; rel="linkset-json"
        ; type="application/linkset+json"
      Location:
      - https://files.de-1.osf.io/v1/resources/xv7q9/providers/osfstorage/66e2b226c0480bb8861d9a3c
    status:
      code: 302
      message: Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://files.de-1.osf.io/v1/resources/xv7q9/providers/osfstorage/66e2b226c0480bb8861d9a3c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://storage.googleapis.com/cos-osf-prod-files-de-1/b36aa796435185a8ea606e63ed5031f40b6e327853e3ef4aab8d07802fd26d3f?response-content-disposition=attachment%3B%20filename%3D%22all_atb_files.tsv%22%3B%20filename%2A%3DUTF-8%27%27all_atb_files.tsv&GoogleAccessId=files-de-1%40cos-osf-prod.iam.gserviceaccount.com&Expires=1776198027&Signature=cig%2B67QehD0LOeMOSL%2BXpJlcwxrMAoHF5au5vScxKVzulOoKWvcSOtMUQ30TrZpnNcI%2FF5V6277iNcG56FTlNnVbzT%2BTZNjp%2Bb0Dj5lOGpIwOIBc2XeggEWVZZFLciCBTaaLUt4tm%2Fs0ek9R6I9lQnW8ewJZXDNJI9E83M93t8HRzxOd5w%2FSOsbs4nN7RvvTIV5OrkTEmH7VRRIb9LnSGaPks7vsYg0ILgFJYN49at5vx6%2BfmHkHUvv8MMpgIInx7IVgcCYy6cMtstLAU35wgwxQohw%2FZyRgbdS2MWWxo%2BtosFaoJ3Zn8R9gyNg2MdLj7WITATFv80VTvu%2BwH5%2FSEw%3D%3D
      X-Waterbutler-Request-Id:
      - dc9a3d87-27d0-4cad-9957-64206ffae740
    status:
      code: 302
      message: Found
- request:
    body: ''
    headers:
    method: GET
    uri: https://storage.googleapis.com/cos-osf-prod-files-de-1/b36aa796435185a8ea606e63ed5031f40b6e327853e3ef4aab8d07802fd26d3f?Expires=1776198027&GoogleAccessId=files-de-1%40cos-osf-prod.iam.gserviceaccount.com&Signature=cig%2B67QehD0LOeMOSL%2BXpJlcwxrMAoHF5au5vScxKVzulOoKWvcSOtMUQ30TrZpnNcI%2FF5V6277iNcG56FTlNnVbzT%2BTZNjp%2Bb0Dj5lOGpIwOIBc2XeggEWVZZFLciCBTaaLUt4tm%2Fs0ek9R6I9lQnW8ewJZXDNJI9E83M93t8HRzxOd5w%2FSOsbs4nN7RvvTIV5OrkTEmH7VRRIb9L[...]
